nav {
    background-color: #515884;
}

#banner-img{
    background: url(../../assets/img/doc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position-x: 75%;
    height: 100vh;
}

.row {
    margin: 0%; 
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#section1{
    display: grid;
    place-items: center;
}

app-login-form {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 780px) {
    app-login-form {
        margin-top: 40px;
    }
    #banner-img {
        height: 50vh;
    }
}

@media only screen and (max-width: 468px) {
    #banner-img {
        display: none;
    }
}
