#banner-img{
    background: url(../../assets/microscope.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    height: 94vh;
}
#section1{
    display: grid;
    place-items: center;
}

nav {
    background-color: #034866;
}