nav {
    background-color: #034866;
}

#banner-img{
    background: url(../../assets/img/microscope.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    height: 94vh;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#section1{
    display: grid;
    place-items: center;
}

nav {
    background-color: #034866;
}

app-login-form {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 780px) {
    app-login-form {
        margin-top: 40px;
    }

    #banner-img {
        height: 30vh;
    }

}

@media only screen and (max-width: 350px) {
    #banner-img {
        display: none;
    }
}