<div>
    <table class="table table-borderless">
        <caption>List</caption>
        <tbody>
          <tr class="table-active">
            <td>From:</td>
            <td>{{ }}</td>
          </tr>
          <tr class="table-default">
            <td>Time requested:</td>
            <td>{{ }}</td>
          </tr>
          <tr class="table-active">
            <td>Samples:</td>
            <td>{{ }}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-outline">Accept Request</button>
      <br>
      <button class="btn btn-danger">Reject Request</button>
</div>
