
.row {
    margin: 0%; 
}

#banner-img {
    background-image: url("../../assets/img/microscope.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    height: 94.7vh;
}
