<nav class="navbar navbar-dark">
    <span class="navbar-brand ml-4">TIBU PORTAL</span>
</nav>

<div class="container-fill">
    <div class="row">
        <div id="formParentDiv" class="col-md-6">
            <form id="requestIDForm" action="">
                <div class="form-group">
                    <h2 class="text-center">Insert Request ID</h2>
                    <input id="requestID" class="form-control" type="text">
                </div>
                <button type="submit" class="btn btn-primary">Proceed</button>
            </form>
        </div>

        <div id="banner-img" class="col-md-6"></div>
    </div>
</div>