<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand ml-4">mMD</span>
    <h5 class="mr-4" style="color: white">Lab Portal</h5>
</nav>

<div class="container-fill">
    <div class="row">
        <div class="col-md-6">
            <form id="requestIDForm" action="">
                <div class="form-group">
                    <label for="requestID">Request ID</label>
                    <input id="requestID" class="form-control" type="text" >
                </div>
                <button class="btn btn-secondary">Proceed</button>
            </form>
        </div>
        <div id="banner-img" class="col-md-6">
            <!-- <img id="banner-img" src="../../assets/img/microscope.jpg" alt="microscope"> -->
        </div>
    </div>
</div>