<nav class="navbar navbar-dark">
    <span class="navbar-brand ml-4">TIBU PORTAL</span>
    <div class="btn-nav">
        <a class="btn btn-small navbar-btn" (click)='logout()'>Logout</a>
    </div>
</nav>

<div class="container-fill">
    <div class="row">
        <div id="formParentDiv" class="col-md-6">
            <form id="requestIDForm" #requestForm="ngForm" (ngSubmit)="getRequest()">
                <div class="form-group">

                    <h2 class="text-center">Insert Request ID</h2>
                    <input class="form-control" type="text" #requestID name="requestID" [(ngModel)]="reqId">
                </div>

                <button type="submit" class="btn btn-primary">Proceed</button>
                <p *ngIf="invalidReqId" class="text-danger text-center mt-3">Invalid request ID</p>
            </form>
            
        </div>

        <div id="banner-img" class="col-md-6"></div>
    </div>
</div>