
.row {
    margin: 0%; 
}

#banner-img {
    background-image: url("../../assets/img/microscope.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    height: 94.7vh;
}

#formParentDiv {
    display: grid;
    place-items: center;
}

form {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
