<div>
  <h2 class="text-center">WELCOME</h2>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input ngModel #username="ngModel" required [(ngModel)]="userModel.username"
        [class.is-invalid]="username.invalid && username.touched" type="text" class="form-control" id="usernameInput"
        name="username" aria-describedby="emailHelp">
      <div *ngIf="username.errors && (username.dirty || username.touched)" class="">

        <div [hidden]="!username.errors.required">
          <small>Username can't be empty</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input ngModel #password="ngModel" type="password" [(ngModel)]="userModel.password" class="form-control"
        id="passwordInput" name="password" required>
      <div *ngIf="password.errors && (password.dirty || password.touched)" class="">

        <div [hidden]="!password.errors.required">
          <small>Kindly enter your password</small>
        </div>
      </div>
    </div>

    <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary">Login</button>
  </form>
  
  <p *ngIf="wrongCredentials" class="text-danger text-center mt-3">Wrong credentials</p>
</div>