#banner-img{
    background-image: url("../assets/microscope.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    height: 94vh;
}
#section1{
    display: grid;
    place-items: center;
}
#title{
    border-bottom: 1px solid #000000;
}
nav {
    background-color: #034866;
}