<div class="container-fluid">
    <h3 class="title" style="margin-left: 10px;">Dashboard</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="row" style="margin: 0px;">
                    <div class="col-md-9 text-center card-text-area">
                        <h5 class="title">Patient's Name</h5>
                        <p>John Doe</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../../assets/img/patient.png" alt="patient" class="rounded float-right card-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="row" style="margin: 0px;">
                    <div class="col-md-9 text-center card-text-area">
                        <h5 class="title">Doctor's Name</h5>
                        <p>Dr. Jane Dutch</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../../assets/img/card_doc.png" alt="patient" class="rounded float-right card-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="row" style="margin: 0px;">
                    <div class="col-md-9 text-center card-text-area">
                        <h5 class="title">Specimen Type</h5>
                        <p>Urine</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../../assets/img/urine.png" alt="patient" class="rounded float-right card-icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>